/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}
.container{
  background-color: aqua;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.box-todo {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 20px 40px;
  width: 50%;
}
h1{
  margin-bottom: 20px;
}

input {
  padding: 10px 20px;
  border: none;
  border-radius: 10000px;
  width: 100%;
  margin: 10px 0;
  outline: none;

}

button.btn {
  padding: 10px;
  border: none;
  border-radius: 10000px;
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(224, 224, 224);
  height: 35px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  padding: 10px 20px;
  border: none;
  border-radius: 10000px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.close_btn {
  color: rgb(204, 0, 0);
  font-weight: bold;
  cursor: pointer;
}


.bg-red{
  background-color: red;
  height: 100vh;
}

.bg-blue{
  background-color: blue;
}

.bg-blueviolet{
  background-color: blueviolet;

}